---
layout: misc
permalink: /about/
---
<h2>Hello.</h2>
I'm Julia. I'm a user experience analyst and I have an affinity for gadgets, tinkering, and design.
<br><br><br>
<!-- Currently Reading -->

<div class="bottom-teaser cf">
    <div class="isLeft-misc">
        <h5 class="index-hline"><span>CURRENTLY READING</span></h5>
         {% for book in site.data.reading %}
        <section class="book-title">
            {{ book.title }}
        </section>
        <section class="book-author">
            by {{ book.author }}
        </section>
        <section class="comments">
            {{ book.comments }}
            {% endfor %}
        </section>
    </div>
    <div class="isRight-misc">
        <img src="{{ site.book }}" | prepend: site.baseurl }}>
    </div>
</div>

<!-- Games -->
<hr>

<div class="bottom-teaser cf">
    <div class="isLeft-misc">
        <h5 class="index-hline"><span>CURRENTLY PLAYING</span></h5>
         {% for game in site.data.games %}
        <section class="book-title">
            <a href="{{ game.website }}">{{ game.title }}</a>
        </section>
        <section class="comments">
            {{ game.comment }}
            {% endfor %}
        </section>
    </div>
    <div class="isRight-misc">
        <img src="{{ site.game }}" | prepend: site.baseurl }}>
    </div>
</div>

<!-- Cool Apps -->
<hr>
<div class="bottom-teaser cf">
    <div class="spotlight">
       <h5 class="index-hline"><span>SPOTLIGHT ON</span></h5>
        {% for spotlight in site.data.spotlight %}
        <section class="book-title">
            <a href="{{ spotlight.website }}">{{ spotlight.item }}</a>
        </section>
        <section class="comments">
            {{ spotlight.description }}
            <br><br>
        {% endfor %}
        </section>
</div>
