---
layout: misc
permalink: /currently/
---
<!-- <h2>CURRENTLY</h2>
<hr>
<h3>READING</h3>
{% for book in site.data.reading %}
{{ book.title }} by {{ book.author }}
{% endfor %}
<div><img src="/assets/images/books/book1.jpg"></div>

<h3>PLAYING</h3>
{% for game in site.data.games %}
<a href="http://1010ga.me">{{ game.title }}</a>
<h4>{{ game.comment }}</h4>
{% endfor %}

<h3>LEARNING</h3>
{% for learning in site.data.learning %}
- {{ learning.thing }}
<h4>{{ learning.comment }}</h4>
{% endfor %}-->
<div class="bottom-teaser cf">
    <div class="isLeft-misc">
        <h5 class="index-hline"><span>CURRENTLY READING</span></h5>
    </div>
    <div class="isRight-misc">
        {% for book in site.data.reading %}
        <h5 class="index-hline"><span>{{ book.title }}</span></h5>
    </div>
    <div class="isLeft-misc">
        <img src="{{ site.book }}" | prepend: site.baseurl }}>
    </div>
    <div class="isRight-misc">
        <section class="book-author">
            by {{ book.author }}
        </section>
        <section class="comments">
            {{ book.comments }}
            {% endfor %}
        </section>
    </div>
</div>
