<div class="bottom-teaser cf">
    <div class="isLeft-misc">
        <h5 class="index-hline"><span>CURRENTLY PLAYING</span></h5>
        {% for games in site.data.games %}
        <section class="book-title">
            <a href="{{ games.itunesLink }}">{{ games.title }}</a>
        </section>
        <section class="comments">
          {{ games.comment }}
        </section>
    </div>
     <div class="isRight-misc">
      <img width="175" height="175" src="{{ games.image }}" | prepend: site.baseurl }} class="img">
        <a href="{{ games.itunesLink }}">
          <span class="mask"></span>
        </a>
        {% endfor %}
      </div>
</div>
