<div class="bottom-teaser cf">
    <div class="isLeft-misc">
        <h5 class="index-hline"><span>SPOTLIGHT ON</span></h5>
         {% for item in site.data.spotlight %}
        <section class="book-title">
            <a href="{{ item.website }}">{{ item.name }}</a>
        </section>
        <section class="comments">
            {{ item.comment }}
        </section>
        <section class="tagline"><br>
         <a class="tagline" href="{{ item.serial-link }}">{{ item.serial }}</a>
        </section>
    </div>
    <div class="isRight-misc">
      <a href="{{ item.website }}">
        <img width="175" height="175" src="{{ item.image }}" | prepend: site.baseurl }}>
        <span class="mask-nb"></span>
      </a>
        {% endfor %}
    </div>
</div>
